{% extends 'main/htmlpatterns.html' %}
{% load static %}

{% block title %} Запрос на добавление в группу {% endblock %}

{% block mainContent %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css">
<link rel="stylesheet" href="{% static 'main/css/profile.css' %}">
<div class="main-content-padding">
    <a href=" {% url 'family' %} "><button class="btn btn-primary">Назад</button></a>
{%  if requests|length > 0 %}
<table class="table">
    <thead>
        <tr>
            <td>№ п/п</td>
            <td>Профиль</td>
            <td>Действия</td>
        </tr>
    </thead>

    {% for req in requests %}
        <tr>
            <td>1</td>
            <td>{{ req.user }}</td>
            <td><a class="btn btn-success" href="{%  url 'accept_request' id=req.id %}">Добавить</a><a class="btn btn-danger">Отклонить</a></td>
        </tr>
    {% endfor %}

</table>
    {%  else %}
    Необработанных запросов нет!
{%  endif %}

</div>
{% endblock %}