{% extends 'main/htmlpatterns.html' %}
{% load static %}

{% block title %} Запрос на добавление в группу {% endblock %}

{% block mainContent %}

<div class="container d-flex justify-content-center">
    <div class="card col-sm-12 col-md-8 col-xl-6 shadow">
        <div class="card-header bg-custom-color-light text-center">
            <p class="fs-3">Запросы на вступление в группу</p>
        </div>
        <div class="card-body">
            {% if requests|length > 0 %}
            <div class="row text-center">
                <div class="col-2">
                    <p class="fs-5">№ п/п</p>
                </div>
                <div class="col-5">
                    <p class="fs-5">Профиль</p>
                </div>
                <div class="col-5">
                    <p class="fs-5">Действия</p>
                </div>
            </div>
            <div class="row text-center">
                {% for req in requests %}
                <div class="col-2">
                    {{forloop.counter}}
                </div>
                <div class="col-5">
                    {{ req.user }}
                </div>
                <div class="col-5 text-center">
                    <a href="{%  url 'accept_request' id=req.id %}"><button type="submit" class="fill-success p-2 mx-2">Добавить</button></a>
                    <a href="{% url 'decline_request' id=req.id %}"><button type="submit" class="fill-danger p-2 mx-2">Отклонить</button></a>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="row">
                <div class="col-12 text-center">
                    <p class="fs-5">Запросов на вступление в вашу группу нет</p>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="card-footer bg-custom-color-dark text-center">
            <a href=" {% url 'family' %} "><button type="submit" class="fill-light px-4">Назад</button></a>
        </div>
    </div>
</div>



{% endblock %}