{% extends 'main/htmlpatterns.html' %}
{% load static %}

{% block title %} Календарь {% endblock %}

{% block mainContent %}
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">#}
{#<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">#}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css">
{#<link rel="stylesheet" href="{% static 'main/css/profile.css' %}">#}

<script>

    function update(month, year) {
        $('#monthyear').html(`${new Date(year, month-1, 1).toLocaleString('default', { month: 'long' })} ${year}`)
        for(let i =0;i<42;i++){
            $('#c'+i).html("")
        }
        $.getJSON(`/calendar/api/${month}/${year}`, function (data) {
            for (let i = 0; i < data.length; i++) {
                console.log(data[i]);
                if (data[i]['day'] !== 0)
                {
                    $('#t' + i).html(data[i]['day'])
                    $('#c'+i).removeClass("d-none d-sm-inline-block bg-light text-muted")
                }
                else
                {
                    $('#c'+i).addClass("d-none d-sm-inline-block bg-light text-muted")
                    $('#t' + i).html("")
                }

                for (let event in data[i]['items']) {
                    $('#c' + i).append(`<a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-success text-white calendar_event"
                   title="Test Event 2" id="event_${data[i]['items'][event]['id']}"><i class="material-icons-size-2">${data[i]['items'][event]['icon']}</i>${data[i]['items'][event]['title']}</a>`)

                }
                if (data[i]['items'].length===0)
                    $('#c'+i).append('<p class="d-sm-none">Нет событий</p>')

            }
        });
    }

    $(document).ready(function () {
        var d = new Date()
        let month = d.getMonth()+1
        let year = d.getFullYear()

        console.log(d.getFullYear(), d.getMonth())
        $('#prevmonth').click(function (){
            month -=1
            if (month < 0)
            {
                month = 11
                year -=1
            }
            update(month, year)
        })
        $('#nextmonth').click(function (){
            month +=1
            if (month >11)
            {
                month = 0
                year +=1
            }
            update(month, year)
        })
        var myModal = new bootstrap.Modal($('#eventModal'), {})
        $('#eventModal').on('hidden.bs.modal', function () {
    update(month, year)
})
        var dayModal = new bootstrap.Modal($('#dayModal'), {})

        var addEventCollapse = new bootstrap.Collapse($('#addEventForm'),{toggle:false})
        update(d.getMonth()+1, d.getFullYear());
        $(document).on("click", ".day .row", function () {
            console.log("day clicker")
            console.log(self.id)
            console.log($('span', this).attr("id").substring(1,3))
            let index = $('span', this).attr("id").substring(1,3)
            $.getJSON(`/calendar/api/${month}/${year}`, function (data) {
                console.log(data[index])
                $('#dayModalTitle').html(`${data[index]['day']}.${month}.${year}`)
                $('#dayModalBody').html("")
                for (let event in data[index]['items']){
                    $('#dayModalBody').append(`<a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-success text-white calendar_event"
                   title="Test Event 2" id="event_${data[index]['items'][event]['id']}"><i class="material-icons-size-2">${data[index]['items'][event]['icon']}</i>${data[index]['items'][event]['title']}</a>`)
                }
                dayModal.show()
            })

        })
        $(document).on("click", ".calendar_event", function () {
            let i = this.id.split('_')[1]
           renderEventModal(i)
        });

        function renderEventModal(id){
             let i = id
            $.getJSON("/calendar/api/detail/" + i, function (data) {
                $('#eventModalTitle').html(`${data['title']} <i class="material-icons">${data['icon']}</i>`)
                $('#modal_desc').html(data['description'])
                $('#modal_start').html(new Date(data['start']).toLocaleString("ru", {}))
                $('#modal_end').html(new Date(data['end']).toLocaleString("ru", {}))
                $('#modal_delete').attr("href", `/calendar/delete/${data['id']}`)
                console.log(data['notify'])
                // TODO что-то не так с пустым нотифай
                $('#modal_notify').html(data['notify']?data['notify']:"")
                console.log(data)
                $('#event_id').val(i)
                $('#modal_delete').attr('hidden', 'hidden')
                $('#save_event').attr('hidden', 'hidden')
                $('#decline_event').attr('hidden', 'hidden')
                $('#change_event').removeAttr('hidden')
                $('#icon_selector').remove()
            })
            myModal.show();
        }

        $(document).on("click", "#change_event", function () {
            let i = $('#event_id').val()
            $.getJSON("/calendar/api/detail/" + i, function (data) {
                $('#eventModalTitle').html(`<input type="text" class="form-control" name="title" value="${data['title']}">`)
                $('#eventModalBody').prepend(`<p id="icon_selector"><b>Иконка:</b><select name="icon" id="id_icon" class="form-control">
  <option value="" selected="">---------</option>

  <option value="work">Другое</option>

  <option value="directions_walk">Прогулка</option>

  <option value="apartment">Работа</option>

  <option value="holiday_village">Дача</option>

  <option value="celebration">День рождения</option>

  <option value="park">Новый год</option>

  <option value="favorite">День святого валентина</option>

  <option value="woman">8 Марта</option>

  <option value="military_tech">23 Февраля</option>

  <option value="partner_exchange">Свадьба</option>

</select></p>`)
                $('#modal_desc').html(`<p><textarea name="description" class="form-control"> ${data['description']}</textarea></p>`)
                $('#modal_start').html(`<input type="datetime-local" class="form-control" name="start" id="id_start">`)
                $('#modal_end').html(`<input type="datetime-local" class="form-control" name="end" id="id_end">`)
                $('#modal_delete').attr("href", `/calendar/delete/${data['id']}`)
                $('#id_start').val(new Date(new Date(data['start'])- new Date().getTimezoneOffset() * 60 * 1000).toISOString().slice(0, -1))
                $('#id_end').val(new Date(new Date(data['end'])- new Date().getTimezoneOffset() * 60 * 1000).toISOString().slice(0, -1))
                $('#modal_notify').html(`<input type="datetime-local" class="form-control" name="notification" id="id_notification">`)
                try {
                    $('#id_notify').val(new Date(new Date(data['notify'])- new Date().getTimezoneOffset() * 60 * 1000).toISOString().slice(0, -1))
                }catch (e){}
                $('#change_event').attr('hidden', 'hidden')
                $('#modal_delete').removeAttr('hidden')
                $('#save_event').removeAttr('hidden')
                $('#decline_event').removeAttr('hidden')
                $('#id_icon').val(data['icon'])
                console.log(data)
            })
        });

         $(document).on("click", "#decline_event", function () {
             let i = $('#event_id').val()
             renderEventModal(i)
         })

        $(document).on("click", "#add_event", function () {
             addEventCollapse.show()
         })

        $(document).on("click", "#save_event", function () {
             let form = $('#form_event')
            console.log("Saving")
                var form_data = form.serialize();
            $.ajax({
                type: "POST",
                url: "/calendar/edit/"+$('#event_id').val(),
                data: form_data,
                success: function (data) {
                    if(data['status'] == 'ok'){
                        renderEventModal($('#event_id').val())
                    }
                    else{
                        console.log(data)
                        $('.invalid-feedback').remove()
                        for(let e in data['errors'])
                        {
                            $('#id_'+e).addClass('is-invalid')
                            $('#id_'+e).after(`<div class="invalid-feedback">${data['errors'][e]}</div>`)
                        }
                    }
                }
            })
         })


    })

</script>
<style>
    @media (max-width:575px) {
        .display-4 {
            font-size: 1.5rem;
        }
        .day h5 {
            background-color: #f8f9fa;
            padding: 3px 5px 5px;
            margin: -8px -8px 8px -8px;
        }
        .date {
            padding-left: 4px;
            align-items: center;
        }
    }

    @media (min-width: 576px) {
        .day {
            height: 6.2857vw;
        }
    }
</style>
<div class="container p-0">
    <div class="row align-items-center">
        <div class="col text-center">
            <button id="prevmonth" class="btn btn-outline-primary ">Назад</button>
        </div>
        <div class="col">
            <h4 class="display-5 mb-4 text-center" id="monthyear"></h4>
        </div>
        <div class="col text-center">
            <button id="nextmonth" class="btn btn-outline-primary">Вперёд</button>
        </div>
</div>
    <div class="row d-none d-sm-flex p-1 bg-dark text-white">
        <h5 class="col-sm p-1 text-center h5">Пн</h5>
        <h5 class="col-sm p-1 text-center h5">Вт</h5>
        <h5 class="col-sm p-1 text-center h5">Ср</h5>
        <h5 class="col-sm p-1 text-center h5">Чт</h5>
        <h5 class="col-sm p-1 text-center h5">Пт</h5>
        <h5 class="col-sm p-1 text-center h5">Сб</h5>
        <h5 class="col-sm p-1 text-center h5">Вс</h5>
    </div>
    <div class="row border border-right-0 border-bottom-0">
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate " >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t0"></span>
                <small class="col d-sm-none text-center text-muted">Понедельник</small>
                <span class="col-1"></span>
            </h5>
            <div id="c0"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate " >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t1"></span>
                <small class="col d-sm-none text-center text-muted">Вторник</small>
                <span class="col-1"></span>
            </h5>
            <div id="c1"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate " >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t2"></span>
                <small class="col d-sm-none text-center text-muted">Среда</small>
                <span class="col-1"></span>
            </h5>
            <div id="c2"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1" id="t3"></span>
                <small class="col d-sm-none text-center text-muted">Четверг</small>
                <span class="col-1"></span>
            </h5>
            <div  id="c3"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1" id="t4"></span>
                <small class="col d-sm-none text-center text-muted">Пятница</small>
                <span class="col-1"></span>
            </h5>
            <div  id="c4"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1" id="t5"></span>
                <small class="col d-sm-none text-center text-muted">Суббота</small>
                <span class="col-1"></span>
            </h5>
            <div  id="c5"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate " >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t6"></span>
                <small class="col d-sm-none text-center text-muted">Воскресенье</small>
                <span class="col-1"></span>
            </h5>
            <div id="c6"></div>
        </div>
        <div class="w-100"></div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate " >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t7"></span>
                <small class="col d-sm-none text-center text-muted">Понедельник</small>
                <span class="col-1"></span>
            </h5>
            <div id="c7"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate " >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t8"></span>
                <small class="col d-sm-none text-center text-muted">Вторник</small>
                <span class="col-1"></span>
            </h5>
            <div id="c8"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate " >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t9"></span>
                <small class="col d-sm-none text-center text-muted">Среда</small>
                <span class="col-1"></span>
            </h5>
            <div id="c9"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate " >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t10"></span>
                <small class="col d-sm-none text-center text-muted">Четверг</small>
                <span class="col-1"></span>
            </h5>
            <div id="c10"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate " >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t11"></span>
                <small class="col d-sm-none text-center text-muted">Пятница</small>
                <span class="col-1"></span>
            </h5>
            <div id="c11"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate " >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t12"></span>
                <small class="col d-sm-none text-center text-muted">Суббота</small>
                <span class="col-1"></span>
            </h5>
            <div id="c12"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1" id="t13"></span>
                <small class="col d-sm-none text-center text-muted">Воскресенье</small>
                <span class="col-1"></span>
            </h5>
            <div id="c13"></div>
        </div>
        <div class="w-100"></div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate " >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t14"></span>
                <small class="col d-sm-none text-center text-muted">Понедельник</small>
                <span class="col-1"></span>
            </h5>
            <div id="c14"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate " >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t15"></span>
                <small class="col d-sm-none text-center text-muted">Вторник</small>
                <span class="col-1"></span>
            </h5>
            <div id="c15"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate " >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t16"></span>
                <small class="col d-sm-none text-center text-muted">Среда</small>
                <span class="col-1"></span>
            </h5>
            <div id="c16"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate " >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t17"></span>
                <small class="col d-sm-none text-center text-muted">Четверг</small>
                <span class="col-1"></span>
            </h5>
            <div id="c17"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate " >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t18"></span>
                <small class="col d-sm-none text-center text-muted">Пятница</small>
                <span class="col-1"></span>
            </h5>
            <div id="c18"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate " >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t19"></span>
                <small class="col d-sm-none text-center text-muted">Суббота</small>
                <span class="col-1"></span>
            </h5>
            <div id="c19"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate " >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t20"></span>
                <small class="col d-sm-none text-center text-muted">Воскресенье</small>
                <span class="col-1"></span>
            </h5>
            <div id="c20"></div>
        </div>
        <div class="w-100"></div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate " >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t21"></span>
                <small class="col d-sm-none text-center text-muted">Понедельник</small>
                <span class="col-1"></span>
            </h5>
            <div id="c21"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1" id="t22"></span>
                <small class="col d-sm-none text-center text-muted">Вторник</small>
                <span class="col-1"></span>
            </h5>
            <div id="c22"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate " >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t23"></span>
                <small class="col d-sm-none text-center text-muted">Среда</small>
                <span class="col-1"></span>
            </h5>
            <div id="c23"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate " >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t24"></span>
                <small class="col d-sm-none text-center text-muted">Четверг</small>
                <span class="col-1"></span>
            </h5>
            <div id="c24"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
            <h5 class="row align-items-center">
                <span class="date col-1" id="t25"></span>
                <small class="col d-sm-none text-center text-muted">Пятница</small>
                <span class="col-1"></span>
            </h5>
            <div  id="c25"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate " >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t26"></span>
                <small class="col d-sm-none text-center text-muted">Суббота</small>
                <span class="col-1"></span>
            </h5>
            <div id="c26"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate " >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t27"></span>
                <small class="col d-sm-none text-center text-muted">Воскресенье</small>
                <span class="col-1"></span>
            </h5>
            <div id="c27"></div>
        </div>
        <div class="w-100"></div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate " >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t28"></span>
                <small class="col d-sm-none text-center text-muted">Понедельник</small>
                <span class="col-1"></span>
            </h5>
            <div id="c28"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate " >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t29"></span>
                <small class="col d-sm-none text-center text-muted">Вторник</small>
                <span class="col-1"></span>
            </h5>
            <div id="c29"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate " >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t30"></span>
                <small class="col d-sm-none text-center text-muted">Среда</small>
                <span class="col-1"></span>
            </h5>
            <div id="c30"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate " >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t31"></span>
                <small class="col d-sm-none text-center text-muted">Четверг</small>
                <span class="col-1"></span>
            </h5>
            <div id="c31"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate " >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t32"></span>
                <small class="col d-sm-none text-center text-muted">Пятница</small>
                <span class="col-1"></span>
            </h5>
            <div id="c32"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted" >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t33"></span>
                <small class="col d-sm-none text-center text-muted">Суббота</small>
                <span class="col-1"></span>
            </h5>
            <div id="c33"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted" >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t34"></span>
                <small class="col d-sm-none text-center text-muted">Воскресенье</small>
                <span class="col-1"></span>
            </h5>
            <div id="c34"></div>
        </div>
        <div class="w-100"></div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted" >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t35"></span>
                <small class="col d-sm-none text-center text-muted">Понедельник</small>
                <span class="col-1"></span>
            </h5>
            <div id="c35"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted" >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t36"></span>
                <small class="col d-sm-none text-center text-muted">Вторник</small>
                <span class="col-1"></span>
            </h5>
            <div id="c36"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted" >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t37"></span>
                <small class="col d-sm-none text-center text-muted">Среда</small>
                <span class="col-1"></span>
            </h5>
            <div id="c37"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted" >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t38"></span>
                <small class="col d-sm-none text-center text-muted">Четверг</small>
                <span class="col-1"></span>
            </h5>
            <div id="c38"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted" >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t39"></span>
                <small class="col d-sm-none text-center text-muted">Пятница</small>
                <span class="col-1"></span>
            </h5>
            <div id="c39"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted" >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t40"></span>
                <small class="col d-sm-none text-center text-muted">Суббота</small>
                <span class="col-1"></span>
            </h5>
            <div id="c40"></div>
        </div>
        <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted" >
            <h5 class="row align-items-center">
                <span class="date col-1" id="t41"></span>
                <small class="col d-sm-none text-center text-muted">Воскресенье</small>
                <span class="col-1"></span>
            </h5>
            <div id="c41"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" id="form_event">
                {% csrf_token %}
            <div class="modal-header" id="eventModalHeader">
                <h5 class="modal-title" id="eventModalTitle">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="eventModalBody">
                <p><b>Описание:</b> <span id="modal_desc"></span></p>
                <p><b>Начало:</b> <span id="modal_start"></span></p>
                <p><b>Окончание:</b> <span id="modal_end"></span></p>
                <p><b>Уведомление:</b> <span id="modal_notify"></span></p>
                <input type="hidden" id="event_id">
            </div>
            <div class="modal-footer" id="event_footer">
                <a class="btn btn-warning" id="change_event">Изменить</a>
                <a class="btn btn-danger" id="modal_delete" hidden="hidden">Удалить</a>
                <a class="btn btn-outline-secondary" id="decline_event" hidden="hidden">Отменить</a>
                <a class="btn btn-outline-success" id="save_event" hidden="hidden">Сохранить</a>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="dayModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dayModalTitle">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="dayModalBody">

                </div>
                <div id="addEventForm" class="collapse">
                    {{ form.as_p }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <b class="btn btn-warning"  id="add_event">Добавить</b>
                <a class="btn btn-danger" >Удалить</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}