{% extends 'main/htmlpatterns.html' %}
{% load static %}

{% block title %} Календарь {% endblock %}

{% block mainContent %}
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">#}
    {#<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css">
    {#<link rel="stylesheet" href="{% static 'main/css/profile.css' %}">#}

    <script>
    
    function update(){
        $.getJSON("{% url 'calendar_api' 4 2024 %}", function(data){
           for(let i =0;i<data.length;i++){
               console.log(data[i]);
               if(data[i]['day']!==0)
                   $('#t'+i).html(data[i]['day'])
               for(let event in data[i]['items']){
                   $('#c'+i).append(`<span class="badge bg-success calendar_event align-items-center" 
                                    id="event_${data[i]['items'][event]['id']}" style="width: 100%;">
                                    <i class="material-icons-size-2">${data[i]['items'][event]['icon']}</i>
                                    ${data[i]['items'][event]['title']}<img src="/media/UserProfileImg/adminNem_Oj8oDAD.jpg" class="rounded-circle" alt="/static/main/img/profileDefault.jpg" width="16px" height="16px"></span>`)
               }
           }
       });
    }
    $(document).ready(function (){
        var myModal = new bootstrap.Modal($('#eventModal'), {})
       update();
      $(document).on("click", ".calendar_event", function(){
          let i = this.id.split('_')[1]
          $.getJSON("/calendar/api/detail/"+i, function(data){
              $('#eventModalTitle').html(data['title'])
              $('#eventModalBody').html(data['description'])
              console.log(data)
          })
          myModal.show();
}); 
       

    })

    </script>
    <div class="main-content-padding">

        <a href="{% url 'add_calendar_item' %}"><button class="btn btn-primary">Добавить событие</button></a>
        {%  for item in items %}
            <p>{{ item }}</p>
        {%  endfor %}
        <div class="row">
            <div class="col border">
                <p class="text-center">Понедельник</p>
            </div>
            <div class="col border">
                <p class="text-center">Вторник</p>
            </div>
            <div class="col border">
                <p class="text-center">Среда</p>
            </div>
            <div class="col border">
                <p class="text-center">Четверг</p>
            </div>
            <div class="col border">
                <p class="text-center">Пятница</p>
            </div>
            <div class="col border">
                <p class="text-center">Суббота</p>
            </div>
            <div class="col border">
                <p class="text-center">Воскресенье</p>
            </div>
        </div>
        <div class="row">
            <div class="col border">
                <p class="text-center" id="t0"></p>
                <p class="text-left" id="c0">

                </p>
            </div>
            <div class="col border">
                <p class="text-center" id="t1"></p>
                <p class="text-left" id="c1">

                </p>
            </div>
            <div class="col border">
                <p class="text-center" id="t2"></p>
                <p class="text-left" id="c2">

                </p>
            </div>
            <div class="col border">
                <p class="text-center" id="t3"></p>
                <p class="text-left" id="c3">

                </p>
            </div>
            <div class="col border">
                <p class="text-center" id="t4"></p>
                <p class="text-left" id="c4">

                </p>
            </div>
            <div class="col border">
                <p class="text-center" id="t5"></p>
                <p class="text-left" id="c5">

                </p>
            </div>
            <div class="col border">
                <p class="text-center" id="t6"></p>
                <p class="text-left" id="c6">

                </p>
            </div>
        </div>
    <div class="row">
            <div class="col border">
                <p class="text-center" id="t7"></p>
                <p class="text-left" id="c7">

                </p>
            </div>
            <div class="col border">
                <p class="text-center" id="t8"></p>
                <p class="text-left" id="c8">

                </p>
            </div>
            <div class="col border">
                <p class="text-center" id="t9"></p>
                <p class="text-left" id="c9">

                </p>
            </div>
            <div class="col border">
                <p class="text-center" id="t10"></p>
                <p class="text-left" id="c10">

                </p>
            </div>
            <div class="col border">
                <p class="text-center" id="t11"></p>
                <p class="text-left" id="c11">

                </p>
            </div>
            <div class="col border">
                <p class="text-center" id="t12"></p>
                <p class="text-left" id="c12">

                </p>
            </div>
            <div class="col border">
                <p class="text-center" id="t13"></p>
                <p class="text-left" id="c13">

                </p>
            </div>
        </div>
    <div class="row">
            <div class="col border">
                <p class="text-center" id="t14"></p>
                <p class="text-left" id="c14">

                </p>
            </div>
            <div class="col border">
                <p class="text-center" id="t15"></p>
                <p class="text-left" id="c15">

                </p>
            </div>
            <div class="col border">
                <p class="text-center" id="t16"></p>
                <p class="text-left" id="c16">

                </p>
            </div>
            <div class="col border">
                <p class="text-center" id="t17"></p>
                <p class="text-left" id="c17">

                </p>
            </div>
            <div class="col border">
                <p class="text-center" id="t18"></p>
                <p class="text-left" id="c18">

                </p>
            </div>
            <div class="col border">
                <p class="text-center" id="t19"></p>
                <p class="text-left" id="c19">

                </p>
            </div>
            <div class="col border">
                <p class="text-center" id="t20"></p>
                <p class="text-left" id="c20">

                </p>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventModalTitle">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="eventModalBody">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}