{% extends 'main/htmlpatterns.html' %}
{% load static %}

{% block title %} Облако вашей группы {% endblock %}

{% block mainContent %}

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <img src="" class="img-thumbnail">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Фотогалерея</h5>
                    <a href="{% url 'cloud_photo' %}" class=""><button class="fill-success">Перейти</button></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Видеогалерея</h5>
                    <a href="{% url 'cloud_video' %}" class="fill-primary">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Документы</h5>
                    <a href="{% url 'cloud_doc' %}" class="fill-primary">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Архивы</h5>
                    <a href="{% url 'cloud_archive' %}" class="fill-primary">Перейти</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}