{% extends 'main/htmlpatterns.html' %}
{% load static %}

{% block title %} Облако вашей группы - фотогалерея {% endblock %}

{% block mainContent %}
<script>
    window.onload = function (){
        $('#file_delete').click(function (){
            var todelete = new Map()
            console.log('clicked')
            $('input[type=checkbox]').each(function(index,element){
                todelete.set(element.id, element.checked)
            })
            console.log(JSON.stringify(Object.fromEntries(todelete), null,  '\t'))
            $.post('{% url "delete_cloud_batch_photo" %}', { 'data':JSON.stringify(Object.fromEntries(todelete)) }, function(data){
                window.location.reload()
            })
        })
    }

</script>
<style>
    .card-header{
        min-height: 150px;
    }
    .card-body {
        min-height: 100px;
    }
    .card {
        min-height: 300px !important;
    }
</style>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6">
        {% for f, n in files %}
        <div class="col">
            <div class="card mt-3">
                <div class="card-header text-center bg-custom-color-light">
                    <img src="{% url 'cloud_storage' %}?path={{ n }}&thumbnail=true" class="img-thumbnail">
                </div>
                <div class="card-body text-center">
                    <a class="underline-one" href="{% url 'cloud_storage' %}?path={{ n }}" download>
                        {{ n }}
                    </a>
                </div>
                <div class="card-footer bg-custom-color-dark">
                    <div class="row align-items-center">
                        <div class="col-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="{{ f.id }}">
                            </div>
                        </div>
                        <div class="col-5">
                            <a  href="{% url 'cloud_storage' %}?path={{ n }}&thumbnail=true" target="_blank">
                                <button class="fill-light m-1 p-2 border-2">
                                    <i class="material-icons-size-3 p-0">slideshow</i>
                                </button>
                            </a>
                        </div>
                        <div class="col-5">
                            <a href="{% url 'delete_cloud_photo' f.id %}">
                                <button class="fill-danger m-1 p-2 border-2">
                                    <i class="material-icons-size-3 p-0">delete_forever</i>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col">
            <div class="card mt-3">
                <div class="card-header text-center bg-custom-color-light">
                    <p class="fs-5 mb-1">Загрузить фото</p>
                </div>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body py-4">
                        <input type="file" name="photo_file" id="id_photo_file" class="form-control" accept=".jpg, .jpeg, .png, .ico, .bmp, .webp">
                    </div>
                    <div class="card-footer bg-custom-color-dark text-center">
                        <button type="submit" class="fill-light mb-0 py-2">Загрузить</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col">
            <button class="fill-danger p-2" id="file_delete">Удалить выбранные</button>
        </div>
    </div>
</div>
{% endblock %}