{% extends 'main/htmlpatterns.html' %}
{% load static %}

{% block title %} Облако вашей группы {% endblock %}

{% block mainContent %}
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4">
        <div class="col">
            <div class="card mt-4">
                <div class="card-header">
                    <img src="{% static 'main/img/photo.webp' %}" class="img-thumbnail">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title fs-4">Фотогалерея</h5>
                    <a href="{% url 'cloud_photo' %}" class=""><button class="fill-success mb-0">Перейти</button></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mt-4">
                <div class="card-header">
                    <img src="{% static 'main/img/video.webp' %}" class="img-thumbnail">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title fs-4">Видеогалерея</h5>
                    <a href="{% url 'cloud_video' %}" class=""><button class="fill-success mb-0">Перейти</button></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mt-4">
                <div class="card-header">
                    <img src="{% static 'main/img/docs.jpg' %}" class="img-thumbnail">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title fs-4">Документы</h5>
                    <a href="{% url 'cloud_doc' %}" class=""><button class="fill-success mb-0">Перейти</button></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mt-4">
                <div class="card-header">
                    <img src="{% static 'main/img/archive.webp' %}" class="img-thumbnail">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title fs-4">Архивы</h5>
                    <a href="{% url 'cloud_archive' %}" class=""><button class="fill-success mb-0">Перейти</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}