{% extends 'main/htmlpatterns.html' %}
{% load static %}

{% block title %} Редактирование профиля {% endblock %}

{% block mainContent %}
<link rel="stylesheet" href="{% static 'main/css/editprofile.css' %}">

<div class="container d-flex justify-content-center">
    <div class="card border rounded-2 shadow col-sm-12 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
        <div class="card-header bg-color">
            <p class="display-6 text-color text-center">Редактирование профиля</p>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="card-block bg-color d-flex justify-content-center p-3">
                    <div class="container-fluid">
                        <div class="row px-3 pt-4">
                            {% if user.userprofile.profileAvatar %}
                            <img src="{{ BASE_DIR }}/media/{{user.userprofile.profileAvatar}}" class="rounded-circle" alt="Лого">
                            {% else %}
                            <img src="{% static 'main/img/profileDefault.png' %}" class="rounded-circle" alt="Лого">
                            {% endif %}
                        </div>
                        <div class="row pt-4 text-center">
                            <p class="h4 text-color">{{ user.username }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-block d-flex align-items-center">
                        <div class="container-fluid">
                            <div class="row pt-3">
                                <div class="col-3 align-self-center">
                                    <p class="h5 col">Никнейм:</p>
                                </div>
                                <div class="col-9">
                                    <div class="col-11">
                                        <input class="form-control" type="text" name="username" id="username" value="{{ user.username }}">
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-3 align-self-center">
                                    <p class="h5 col">Фамилия:</p>
                                </div>
                                <div class="col-9">
                                    <div class="col-11">
                                        <input class="form-control" type="text" name="last_name" id="last_name" value="{{ user.last_name }}">
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-3 align-self-center">
                                    <p class="h5 col">Имя:</p>
                                </div>
                                <div class="col-9">
                                    <div class="col-11">
                                        <input class="form-control" type="text" name="first_name" id="first_name" value="{{ user.first_name }}">
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-3 align-self-center">
                                    <p class="h5 col">Отчество:</p>
                                </div>
                                <div class="col-9">
                                    <div class="col-11">
                                        <input class="form-control" type="text" name="patronimic" id="patronimic" value="{{ user.userprofile.patronimic }}">
                                    </div>
                                </div>
                            </div>
                            // TODO: Добавть отображение даты рождения
                            <div class="row pt-3">
                                <div class="col-3 align-self-center">
                                    <p class="h5 col">Дата рождения:</p>
                                </div>
                                <div class="col-9">
                                    <div class="col-11">
                                        <input class="form-control" type="date" name="birthDate" id="birthDate" value="{{ user.userprofile.birthDate }}">
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-3 align-self-center">
                                    <p class="h5 col">Номер телефона:</p>
                                </div>
                                <div class="col-9">
                                    <div class="col-11">
                                        <input class="form-control" type="text" name="phoneNumber" id="phoneNumber" value="{{ user.userprofile.phoneNumber }}">
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-3 align-self-center">
                                    <p class="h5 col">Аватар:</p>
                                </div>
                                <div class="col-9">
                                    <div class="col-11">
                                        <input class="form-control" type="file" name="patronimic" id="patronimic">
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-3 pb-3">
                                <div class="col-11 d-flex justify-content-center">
                                    <button type="submit" class="btn btn-outline-primary">Сохранить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}