{% extends 'main/htmlpatterns.html' %}
{% load static %}

{% block title %} Ваша группа {% endblock %}

{% block mainContent %}
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
{% if messages %}
    <script>
{% for msg in messages %}
    {% if msg.tags == 'error' %}
    toastr.error("{{ msg }}")
    {% else %}
    toastr.info("{{ msg }}")
    {% endif %}
{% endfor %}    
    </script>
{% endif %}
<link rel="stylesheet" href="{% static 'main/css/profile.css' %}">
<script>
    $(document).ready(()=>{
        var changer = new bootstrap.Modal($('#changeGroup'), {})
        $('#change_group').click(()=>{
            changer.show()
        })
        $('#save_group').click(() => {

        })
    })
</script>

<div class="container d-flex justify-content-center">
    <div class="card border-1 rounded-2 shadow col-sm-12 col-md-8 col-xl-6">
        {% if family %}
        <div class="row">
            <div class="col-4">
                <div class="card-block bg-color d-flex justify-content-center p-2 align-items-center">
                    <div class="container-fluid">
                        <div class="row px-3">
                            {% if family.familyAvatar %}
                            <img src="{{ BASE_DIR }}/media/{{family.familyAvatar}}" class="rounded-circle" alt="Лого">
                            {% else %}
                            <img src="{% static 'main/img/profileDefault.png' %}" class="rounded-circle" alt="Лого">
                            {% endif %}
                        </div>
                        <div class="row text-center">
                            <p class="fs-5 mt-1 text-color mb-0">{{ family.name }}</p>
                        </div>
                        <div class="row text-center mt-2">
                            {% if is_creator %}
                            <a href=" {% url 'process_request' %} ">
                                <button class="fill-dark p-2">Запросы</button>
                                <a class="text-color" id="change_group"><button class="material-icons-size-3 fill-dark p-1 m-0">edit</button></a>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="card-block">
                    <div class="container mx-0 p-2">
                        <div class="row mt-3">
                            <p class="h4 text-color">Состав группы</p>
                        </div>
                        <div class="row">
                            <hr class="hr-shelf"/>
                        </div>
                        {% for member in family.userprofile_set.all %}
                        <div class="row items-align-center">
                            <p class="h6 text-color" {% if member.user == family.creator %} style="font-weight: bold" {% endif %}>
                                <i class="material-icons-size-2 text-custom-color-dark align-center">horizontal_rule</i>
                                {{ member.user.username }}
                                {% if request.user == family.creator  and member.user != family.creator%}
                                <a href="{% url 'kick_from_group' member.id %}">
                                    <button class="fill-danger p-1 m-0 border-1 rounded-2" style="font-size: 12px;">исключить</button>
                                </a>
                                {% endif %}
                            </p>
                        </div>
                        {% endfor %}
                        <div class="row">
                            <div class="col text-center mt-5">
                                {% if family.creator == request.user %}
                                <a href="{% url 'delete_family' id=family.id %}"><button class="fill-danger p-2">Удалить</button></a>
                                {% endif %}
                                <a href="{% url 'exit_from_group' id=family.id %}"><button class="fill-primary p-2">Покинуть</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="card">
                <div class="card-header text-center bg-custom-color-light">
                        <p class="h4 text-color">Вы ещё не состоите в группе</p>
                    </div>
                <div class="row">
                    <div class="card-block text-center">
                        <div class="mt-2 mb-4">
                            <a href="{% url 'add_family' %}"><button class="fill-primary">Создать</button></a>
                            <a href="{%  url 'join_family' %}"><button class="fill-success">Вступить</button></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>

<div class="modal fade" id="changeGroup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" id="form_group_change" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-header" id="eventModalHeader">
                    <h5 class="modal-title" id="eventModalTitle">Изменение группы</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="eventModalBody">
                    <div class="form-floating mb-3">
                        <input type="text" name="name" value="Группа для теста 1" maxlength="50" id="id_name" placeholder="Название:" class="form-control">
                        <label for="id_name">Название:</label>
                    </div>
                    <div class="form-floating">
                        <input type="file" name="familyAvatar" accept="image/*" id="id_familyAvatar" class="form-control">
                        <label for="id_familyAvatar">Аватар:</label>
                    </div>
                </div>
                <div class="modal-footer" id="event_footer">
                    <button class="fill-success" id="save_group">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
    {% endblock %}