{% extends 'main/htmlpatterns.html' %}
{% load static %}

{% block title %} Ваш профиль {% endblock %}

{% block mainContent %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css">
<link rel="stylesheet" href="{% static 'main/css/profile.css' %}">
<div class="main-content-padding">
{%  if family %}
{{ family.name }}
    <ul>
    {%  for member in family.userprofile_set.all %}
        <li>{{ member.user.username }}</li>
    {%  endfor %}</ul>
    <a href="{% url 'delete_family' id=family.id %}">Удалить</a>
{% else %}
    
Семьи не добавлено. <a href="{% url 'add_family' %}">Добавить</a>
{% endif %}

</div>
{% endblock %}