{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
    <script src="https://kit.fontawesome.com/a673f0fe84.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
<header>
    <div class="logo">
        <i class="fa-solid fa-clipboard-list fa-2xl logoHeaderImg"></i>
        <h1 class="logoText">LightList</h1>
    </div>
    <div class="profile">
        <img class="profileHeaderImg rounded-circle" src="{{ BASE_DIR }}/media/{{user.userprofile.profileAvatar}}"
             alt="profileImg">
        <h1 class="profileText">{{ user.username }}</h1>
        <a href="{% url 'logout' %}" methods="post"><i
                class="fa-solid fa-lg fa-arrow-right-from-bracket dropDownProfile"></i></a>
    </div>
</header>
<aside class="mainFunc">
    <ul>
        <a href="{% url 'calendar' %}" class="linkMenu">
            <li class="liTxtSet"><i class="fa-regular fa-calendar-days iconList fa-sm"></i>Календарь</li>
        </a>
        <a href="{% url 'product_list' %}" class="linkMenu">
            <li class="liTxtSet"><i class="fa-solid fa-list-ul iconList fa-sm"></i>Список продуктов</li>
        </a>
        <a href="" class="linkMenu">
            <li class="liTxtSet"><i class="fa-solid fa-cloud iconList fa-sm"></i>Облако</li>
        </a>
        <a href="{% url 'wishlist' %}" class="linkMenu">
            <li class="liTxtSet"><i class="fa-solid fa-gifts iconList fa-sm"></i>Список подарков</li>
        </a>
        <a href="{% url 'profile' %}" class="linkMenu">
            <li class="liTxtSet"><i class="fa-solid fa-user iconList fa-sm"></i>Ваш профиль</li>
        </a>
        <a href="{% url 'family' %}" class="linkMenu">
            <li class="liTxtSet"><i class="fa-solid fa-people-roof iconList fa-sm"></i>Ваша семья</li>
        </a>
    </ul>
</aside>
<main>
    {% block mainContent%}

    {% endblock %}
</main>
<footer>

</footer>
</body>
</html>