{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
        <script src="https://kit.fontawesome.com/a673f0fe84.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    </head>
    <body>
        <header>
            <div class="logo">
                <i class="fa-solid fa-clipboard-list fa-2xl logoHeaderImg"></i>
                <h1 class="logoText">LightList</h1>
            </div>
            <div class="profile">
                <img class="profileHeaderImg" src="{% static 'main/img/profileImg.jpg' %}" alt="profileImg">
                <h1 class="profileText">Should be a profile name</h1>
                <i class="fa-solid fa-angle-down fa-lg dropDownProfile"></i>
            </div>
        </header>
        <aside class="mainFunc">
            <ul class="ulMenu">
                <a href="{% url 'calendar' %}" class="linkMenu"><li class="liTxtSet"><i class="fa-regular fa-calendar-days iconList fa-sm"></i>Calendar</li></a>
                <a href="" class="linkMenu"><li class="liTxtSet"><i class="fa-solid fa-list-ul iconList fa-sm"></i>ProductList</li></a>
                <a href="" class="linkMenu"><li class="liTxtSet"><i class="fa-solid fa-cloud iconList fa-sm"></i>Cloud</li></a>
                <a href="" class="linkMenu"><li class="liTxtSet"><i class="fa-solid fa-gifts iconList fa-sm"></i>WishList</li></a>
                <a href="{% url 'profile' %}" class="linkMenu"><li class="liTxtSet"><i class="fa-solid fa-user iconList fa-sm"></i>Your Profile</li></a>
                <a href="" class="linkMenu"><li class="liTxtSet"><i class="fa-solid fa-people-roof iconList fa-sm"></i>Your Family</li></a>
            </ul>
        </aside>
        <main>
            {% block mainContent%}

            {% endblock %}
        </main>
        <footer>

        </footer>
    </body>
</html>