{% extends 'main/htmlpatterns.html' %}
{% load static %}

{% block title %} Запрос на добавление в группу {% endblock %}

{% block mainContent %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
{% if messages %}
    <script>
{% for msg in messages %}
    {% if msg.tags == 'error' %}
    toastr.error("{{ msg }}")
    {% else %}
    toastr.info("{{ msg }}")
    {% endif %}
{% endfor %}    
    </script>
{% endif %}

<div class="container d-flex justify-content-center">
    <div class="card col-sm-12 col-md-8 col-xl-6 shadow">
        <div class="card-header bg-custom-color-light text-center">
            <p class="fs-3 m-2">Запросы на добавление в группу</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="text-center">
                    <p class="fs-4">Ваши запросы</p>
                </div>
            </div>
            <div class="row">
                <hr class="hr-shelf"/>
            </div>
            {%  if req_list|length > 0 %}
            <div class="row">
                {% for req in req_list %}
                <p class="fs-5 text-color">
                    <i class="material-icons-size-2 text-custom-color-dark align-center">horizontal_rule</i>
                    {{ req.family }}
                </p>
                {% endfor %}
            </div>
            <div class="row">
                <hr class="hr-shelf"/>
            </div>
            {% endif %}
            <div class="row">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input class="form-control" name="family" required="" id="id_family" type="text">
                        <label class="ms-2" for="id_family">Группа:</label>
                    </div>
        <div class="card-footer bg-custom-color-dark text-center">
            <button type="submit" class="fill-light"> Отправить </button>
        </div>
        </form>
    </div>
</div>

{% endblock %}