{% extends 'main/htmlpatterns.html' %}
{% load static %}

{% block title %} Ваш профиль {% endblock %}

{% block mainContent %}
    <div class="col-lg-10 col-md-10 col-sm-10 px-4 py-0 d-flex justify-content-center align-self-center">
<link rel="stylesheet" href="{% static 'main/css/profile.css' %}">

<div class="container d-flex justify-content-center my-4cle">
    <div class="card border-1 rounded-2 shadow col-sm-12 col-md-8 col-xl-6">
        <div class="row">
            <div class="col-4">
                <div class="card-block bg-color d-flex justify-content-center p-2 align-items-center">
                    <div class="container-fluid">
                        <div class="row px-3">
                            {% if user.userprofile.profileAvatar %}
                            <img src="{{ BASE_DIR }}/media/{{user.userprofile.profileAvatar}}" class="rounded-circle" alt="Лого">
                            {% else %}
                            <img src="{% static 'main/img/profileDefault.png' %}" class="rounded-circle" alt="Лого">
                            {% endif %}
                        </div>
                        <div class="row text-center">
                            <p class="h4 mt-1 text-color mb-0">{{ user.username }}</p>
                        </div>
                        <div class="row text-center mt-2">
                            <a class="text-color" href="{% url 'editprofile' %}"><button class="material-icons-size-3 fill-dark p-1 m-0">edit</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="card-block">
                    <div class="container mx-0 p-2">
                        <div class="row mt-3">
                            <p class="h4 text-color">Информация</p>
                        </div>
                        <div class="row">
                            <hr class="hr-shelf"/>
                        </div>

                        <div class="row items-align-center">
                            <div class="col-4">
                                <p class="h6 text-color">ФИО:</p>
                            </div>
                            <div class="col-8">
                                {% if user.first_name and user.last_name %}
                                <p class="h6 text-color">{{ user.last_name }} {{ user.first_name }} {{ user.userprofile.patronimic }}</p>
                                {% else %}
                                <p class="h6 text-color opacity-25">Не заполнено</p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row items-align-center">
                            <div class="col-4">
                                <p class="h6 text-color">E-mail:</p>
                            </div>
                            <div class="col-8">
                                <p class="h6 text-color">{{ user.email }}</p>
                            </div>
                        </div>

                        <div class="row items-align-center">
                            <div class="col-4">
                                <p class="h6 text-color">Номер телефона:</p>
                            </div>
                            <div class="col-8">
                                {% if user.userprofile.phoneNumber %}
                                <p></p>
                                <p class="h6 text-color">{{ user.userprofile.phoneNumber }}</p>
                                {% else %}
                                <p></p>
                                <p class="h6 text-color opacity-25">Не заполнено</p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row items-align-center">
                            <div class="col-4">
                                <p class="h6 text-color">Дата рождения:</p>
                            </div>
                            <div class="col-8">
                                {% if user.userprofile.birthDate %}
                                <p></p>
                                <p class="h6 text-color">{{ user.userprofile.birthDate }}</p>
                                {% else %}
                                <p></p>
                                <p class="h6 text-color opacity-25">Не заполнено</p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row items-align-center mt-4">
                            <p class="h4 text-color">Группа</p>
                        </div>
                        <div class="row">
                            <hr class="hr-shelf"/>
                        </div>

                        <div class="row items-align-center mb-3">
                            <div class="col-4">
                                <p class="h6 text-color">Ваша группа:</p>
                            </div>
                            <div class="col-8">
                                {% if family %}
                                <p class="h6 text-color">{{ family.name }}</p>
                                {% else %}
                                <p class="h6 text-color opacity-25">Не заполнено</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
{% endblock %}