{% extends 'main/htmlpatterns.html' %}
{% load static %}

{% block title %} Вишлист вашей группы {% endblock %}

{% block mainContent %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css">
<link rel="stylesheet" href="{% static 'main/css/profile.css' %}">
<div class="main-content-padding">
<div class="container">
  <div class="row row-cols-5">
      {%  for u in users %}
    <div class="col">
    <div class="card">
        <img class="card-img-top img-thumbnail" src="/media/{{ u.userprofile.profileAvatar }}">
        <div class="card-body">
            <h5 class="card-title">{{ u.username }}</h5>
        </div>
        <div class="card-footer">
            <a href="{%  url 'wishlistuser' user=u.id %}">К вишлисту</a>
        </div>
    </div>

          </div>
{% endfor %}
  </div>
</div>


</div>
{% endblock %}