.navbar.background-color-dark {
    background-color: #3c3c3c !important;
}

.navbar.background-color-light {
    background-color: #fef5ef !important;
}

.text-color-dark {
    color: #3c3c3c !important;
}

.navbar-brand.text-color-light {
    color: #fef5ef !important;
}

.text-color-light {
    color: #fef5ef !important;
}

.main-content-settings {
    margin-top: 60px !important;
}

.sidebar-block-hover:hover {
    background-color: #3c3c3c !important;
    color:  #fef5ef !important;
    transition: all .3s;
    text-decoration: none;
}

div.sidebar-bg-color {
    background-color: #fef5ef !important;
}

a.sidebar-text:active,
a.sidebar-text:hover,
a.sidebar-text {
    text-decoration: none !important;
    color: #3c3c3c !important;
}

.text-menu-modifire {
    font-size: calc(1.5rem + 1vw);
}