.bg-color {
    height: 100% !important;
    border-radius: 5px 0 0 5px;
    background-color: #fef5ef;
}

img {
    max-inline-size: 100%;
    aspect-ratio: auto;
    block-size: auto;
    object-fit: cover;
    object-position: center;
}

.text-color {
    color: #3c3c3c;
}

a {
    text-decoration: none;
    color: #3c3c3c;
}

.hr-shelf {
    margin: -50px auto 10px 0px !important;
    padding: 0;
    height: 50px;
    border: none;
    border-bottom: 1px solid #000000;
    box-shadow: 0 20px 20px -20px #333;
    width: 95%;
}